{% extends 'base.html' %} {% load staticfiles %} {% block content %} 

{% block activeIni %}
dropdown hover
{% endblock %}
{% block activeCli %}
dropdown hover active
{% endblock %}
{% block activePro %}
dropdown hover
{% endblock %}
{% block activeVen %}
dropdown hover
{% endblock %}

{% block navigation %}
<li>
    <a href="{% url 'clientes:index' %}">Clientes</a>
</li>
<li title="Registrar nuevo cliente">
    <a ref="{% url 'clientes:nuevo' %}">Nuevo</a>
</li>
{% endblock %}
<div id='content'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <i class='icon-beer icon-large'></i>
            Nuevo Cliente
            <div class='panel-tools'>
            </div>
        </div>
        <div class='panel-body' id="panel-body">

            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <div class="text-center form-group">
                    <button id="agregar" type="submit" class="btn btn-success">Guardar</button>

                    <a class="btn btn-danger" id="cancelar" href="{% url 'clientes:listar' %}">Cancelar</a>

                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}