{% extends 'base.html' %} {% load staticfiles %} {% block content %} 
{% block activeIni %}
dropdown hover
{% endblock %}
{% block activeCli %}
dropdown hover
{% endblock %}
{% block activePro %}
active
{% endblock %}
{% block activeVen %}
dropdown hover
{% endblock %}
{% block navigation %}
<li>
    <a href="{% url 'productos:index' %}">Productos</a>
</li>
<li title="Registrar nuevo producto">
    <a ref="{% url 'productos:nuevo' %}">Nuevo</a>
</li>
{% endblock %}
<div id='content'>
    <div class='panel panel-default'>
        <div class='panel-heading'>
            <i class='icon-beer icon-large'></i>
            Nuevo Producto
            <div class='panel-tools'>
            </div>
        </div>
        <div class='panel-body' id="panel-body">

            <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <div class="text-center form-group">
                    <button id="agregar" type="submit" class="btn btn-success">Guardar</button>

                    <a class="btn btn-danger" id="cancelar" href="{% url 'productos:listar' %}">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}